@font-face {
    font-family: 'Raleway';
    src: url('../Fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans';
    src: url('../Fonts/Opensans/OpenSans-Regular.ttf');
}